{% extends 'base.html' %}
{% load static %}
{% block css %}
<style>
  #carrousel-2 {
    background: url('{% static 'img/bike2.jpg' %}');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  {% comment %} {% static 'css/styles.css' %} {% endcomment %}
</style>
{% endblock css %}
{% block content %}
{% comment %} Carrousel {% endcomment %}
<div>
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="view">
            <img class="d-block w-100" src="{% static 'img/bike2.jpg' %}" alt="First slide">
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">Bicicleta Numero 1</h3>
            <p>{% lorem 1 b random %}</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="view">
            <img class="d-block w-100" src="{% static 'img/bike2.jpg' %}" alt="Second slide">
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">Bicicleta numero 2</h3>
            <p>{% lorem 1 b random %}</p>
          </div>
        </div>
      <div class="carousel-item">
        <div class="view">
          <img class="d-block w-100" src="{% static 'img/bike3.jpg' %}" alt="Third slide">
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Bicicleta numero 3</h3>
          <p>{% lorem 1 b random %}</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
</div>
{% comment %} Carrousel {% endcomment %}
<div class="container">
      
    </div>
<div class="container">
  <div class="row">
      <div class="col">
          <h1 class="h1-responsive"> Renta de Bicicletas </h1>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <!-- Card -->
      <div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
          <a href="{% url 'core_add_reserva' %}">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

          <!-- Title -->
          <h4 class="card-title">Deportiva</h4>
          <!-- Text -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <!-- Button -->
          <a href="{% url 'core_add_reserva' %}" class="btn btn-primary">Button</a>

        </div>

      </div>
      <!-- Card -->
    </div>
    <div class="col-lg-6 col-md-12">
      <!-- Card -->
      <div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
          <a href="{% url 'core_add_reserva' %}">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

          <!-- Title -->
          <h4 class="card-title">Paseo</h4>
          <!-- Text -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <!-- Button -->
          <a href="{% url 'core_add_reserva' %}" class="btn btn-primary">Button</a>

        </div>

      </div>
      <!-- Card -->
    </div>
  </div>
</div>
{% endblock content %}
{% block javascript %}
{% endblock javascript %}