{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>Ingreso</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="http://getbootstrap.com/docs/4.1/examples/floating-labels/floating-labels.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.13/css/mdb.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="floating-labels.css" rel="stylesheet">
  </head>

  <body>
    <form class="form-signin" method="POST">{% csrf_token %}
      <div class="text-center mb-4">
        <img class="mb-4 rounded-circle" src="{% static 'img/login.jpg' %}" alt="" width="60%" height="60%">
        <h1 class="h3 mb-3 font-weight-normal">Ingreso</h1>
        
        {% if messages %}
            {% for message in messages %}
        
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

        
            {% endfor %}
        {% endif %}
        
      </div>

       <div class="form-label-group">
        <input type="text" id="username" name="username" class="form-control" placeholder="Usuario" required autofocus>
        <label for="username">Usuario</label>
      </div> 
      {% comment %} <div class="md-form">
          <i class="fa fa-user prefix"></i>
          <input type="text" id="inputIconEx2" class="form-control">
          <label for="inputIconEx2">E-mail address</label>
      </div>
      <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input type="password" id="inputValidationEx2" class="form-control validate">
            <label for="inputValidationEx2" data-error="wrong" data-success="right">Ingrese Su Contraseña</label>  
      </div> {% endcomment %}
      <div class="form-label-group">
        <input type="password" id="password" name="password" placeholder="Contaseña" class="form-control" required>
        <label for="password">Contraseña</label> 
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.13/js/mdb.min.js"></script>

  </body>
</html>
