{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark primary-color">
<div class="container">
  <a class="navbar-brand" href="{% url 'inicio' %}">SRDB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      {% if request.path == '/core/' %}
        <li class="nav-item active">
          <a class="nav-link" href='{% url 'inicio' %}'>Home <span class="sr-only">(current)</span></a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href='{% url 'inicio' %}'>Home <span class="sr-only">(current)</span></a>
        </li>
      {% endif %}
      {% comment %} <li class="nav-item">
        <a class="nav-link" href="{% url 'core_bike_list' %}">Bicicletas</a>
      </li> {% endcomment %}
      {% comment %} <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> {% endcomment %}
      {% comment %} <li id="auth" class="nav-item">
				{% if request.user.is_authenticated %}
					<a href="{% url 'inicio' %}" class="nav-link btn btn-success pull-right">
						<i class="fas fa-sign-in-alt"></i> Salir</a>
				{% else %}
					<a href="{% url 'inicio' %}" class="nav-link btn btn-success pull-right">
						<i class="fas fa-sign-in-alt"></i> Ingresar</a>
				{% endif %}
      </li> {% endcomment %}
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-user"></i> Profile </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
              {% if request.user.is_authenticated %}
              <a class="dropdown-item waves-effect waves-light" href="#">{{ request.user.cliente.full_name }}</a>
              <a class="dropdown-item waves-effect waves-light" href="{% url 'auth_logout' %}">Log out</a>
              {% else %}
              <a class="dropdown-item waves-effect waves-light" href="http://localhost:8080/auth/login?next=/core/">Login</a>
              {% endif %}
            </div>
      </li>
    </ul>
    </div>
    </div>
</div>
</nav>
        