<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock title %}</title>
  {% block style %}
  <style type="text/css">
    body {
      padding: 2em;
      font-family: sans-serif;
    }
    form fieldset {
      padding: 1em 1em 2em;
      width: 0;
      min-width: 500px;
      border-radius: 0.5em;
      margin: 2em 0;
    }
    form label {
      display: block;
      margin: 1em 0;
      clear: both;
      font-weight: 500;
    }
    form label input {
      display: block;
      padding: 0.2em;
      font-size: 1.2em;
      font-weight: normal;
      margin: 0.2em 0;
    }
    form legend {
      margin-left: 0em;
      font-weight: 800;
    }
    dl dt {
      font-weight: normal;
      margin: 0 0 0.2em;
      font-size: 0.8em
    }
    dl dd {
      font-weight: 800;
      margin: 0.2em 0 0.5em;
      font-size: 1em;
    }
    button {
      font-size: 1.2em;
      background-color: lightgray;
      border: none;
      padding: 0.4em 1em;
      border-radius: 0.2em;
      cursor: pointer;
      font-weight: 500;
      margin: 0;
    }
    figure {
      margin: 2em 0;
    }
  </style>
  {% endblock style %}
</head>
<body>

{% block nav %}
<nav class="steps">
  <a href="/">Start</a>
</nav>
{% endblock nav %}

{% block header %}
{% endblock header %}

{% block content %}
<ul>
  <li><a href='{% url 'normal' %}'>Transacción Normal</a></li>
  <li><a href="/oneclick">OneClick</a></li>
</ul>
{% endblock content%}
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
{% block javascript %}
{% endblock javascript %}
</body>
</html>