{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Nueva Reserva{% endblock title %}
{% block css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
         
{% endblock css %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <form method="POST" action="/core/reserva1/" id="reserva-form" enctype="multipart/form-data" class="text-center border border-light p-5">{% csrf_token %}

                    <p class="h4 mb-4">Nueva Reserva</p>
                <div class="form-row mb-4" style="margin-top:10px;">
                    <div class="col-lg-12">
                        <label for="bikes">Bicicletas</label>
                        <select name="bikes" class="bikes browser-default custom-select mb-4 select2 select2-with-search" id="bikes" required multiple>
                            <option value="" disabled="" selected="">Cantidad de Bicicletas</option>
                            {% for bike in bikes_t %}
                            <option value="{{bike.pk}}">{{bike.marca}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row mb-4">
                    <div class="col-lg-12">
                        <label for="id_accesorios">Accesorios</label>
                        <select name="accesorios" class="accesorios browser-default custom-select select2 select2-with-search" id="accesorios" required multiple>
                            <option value="" disabled="" selected="">Escoja sus Accesorios</option>
                            {% for accesorio in accesorios_t %}
                                <option value="{{accesorio.pk}}">{{accesorio.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row mb-4">
                    <div class="col-lg-6">
                        <label for="tiempo">Tiempo en Horas</label>
                        <input type="number" min="1" max="6" name="tiempo" id="tiempo" class="form-control" placeholder="Tiempo en Horas" required>
                    </div>
                    <div class="col-lg-6">
                        <label for="seguro">Desea Contratar Seguro?</label>
                        <select name="seguro" class="seguro form-control custom-select mb-4" id="seguro" required>
                            <option value="si">Si</option>
                            <option value="no">No</option>
                        </select>
                    </div>  
                </div>
                <div class="form-row mb-4">
                    <div class="col-lg-12">
                        <label for="fecha">Fecha de la reserva: </label>
                        <input type="text" class="form-control fecha" name="fecha" id="fecha" placeholder="yyyy/mm/dd"required>
                    </div>
                </div>
                <div id="contrato">
                    <div class="form-row mb-4">
                        <div class="col-lg-6">
                            <label for="nombres">Nombres</label>
                            <input value="{{request.user.cliente.name}}" class="form-control" name="nombres" id="nombres" type="text" placeholder="Nombres"required>
                        </div>
                        <div class="col-lg-6">
                            <label for="apellidos">Apellidos</label>
                            <input value="{{request.user.cliente.apellido}}" class="form-control" name="apellidos" id="apellidos" type="text" placeholder="Apellidos" required>
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="col-lg-6">
                            <label for="rut">Rut</label>
                            <input value="{{request.user.cliente.rut}}" class="form-control" name="rut" id="rut" type="text" placeholder="Rut"required>
                        </div>
                        <div class="col-lg-6">
                            <label for="email">Correo</label>
                            <input value="{{request.user.cliente.correo}}" class="form-control" name ="email" id="email" type="email" placeholder="Correo" required>
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="col-lg-6">
                            <label for="direccion">Dirreción</label>
                            <input class="form-control" name="direccion" id="direccion" type="text" placeholder="Dirección" required>
                        </div>  
                        <div class="col-lg-6">
                            <label for="telefono">Telefono</label>
                            <input value="{{request.user.cliente.telefono}}" class="form-control" name="telefono" id="telefono" type="text" placeholder="Telefono" required>
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="col-lg-12">
                            
                            <input class="form-control" name ="tarjeta" id="tarjeta" type="text" placeholder="Tarjeta de Credito" required>
                        </div>
                    </div>
                </div>
                
                
                    <button type="submit" class="btn btn-primary" id="enviar" value="Enviar">Crear Reserva</button>
                    <a href="{% url 'inicio' %}"class="btn btn-danger">Volver</a>
                    
            </form>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascript %}
<!-- Select2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.18.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.18.0/additional-methods.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.18.0/localization/messages_es.min.js"></script>
<script src="{% static 'js/jquery.rut.chileno.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('.fecha').datepicker({format:'yyyy/mm/dd'});
        $('#contrato').show(); 
        $('.bikes').select2();
        $('.accesorios').select2();
        $('#seguro').change(function(){
            if($('#seguro').val() == 'si') {
                $('#contrato').show(); 
            } else {
                $('#contrato').hide(); 
            } 
        });
    });
</script>
<script>
    $(document).ready(function(){
        $("#reserva-form").validate({
            rules:{
                tarjeta:{
                    required: true,
                    creditcard: true
                }
            }
        });
    });
        
</script>
<script>
    var rut = $('#rut').val();
    var es_valido = $.rut.validar(rut);
   
</script>
{% endblock javascript %}