{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Confirmar Reserva{% endblock title %}
{% block css %}
{% endblock css %}
<style>
    form {
        visibility: hidden;
    }
</style>
{% block content %}
<div class="container">
    <div class="row">
        <div class="col table-responsive">
            <table class="table table-striped table-sm">
                <p class="h3 text-center">Detalles de la Reserva</p>
                <tr><th>Nombre: </th><td>{{ request.user.cliente.name}} {{request.user.cliente.apellido }}</td></tr>
                <tr><th>Numero de Bicicletas: </th><td>{{ n_bikes }}</td></tr>
                <tr><th>Numero de Accesorios: </th><td>{{ n_accesorios }}</td></tr>
                <tr><th>Seguro:</th><td>{{ seguro_e }}</td></tr>
                <tr><th>Total:</th><td>{{ total }}</td></tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="POST" action="{% url 'normal_init' %}" enctype="multipart/form-data" class="pure-form pure-form-stacked">{% csrf_token %}
                <fieldset>
                    <legend>Pagar</legend>
                    <input value="{{total}}" type="hidden" name="amount" id="amount" readonly>
                    <input value="{{slug}}" type="hidden" name="buy_order" id="buy_order" readonly>
                </fieldset>
                    <button type="submit" class="btn btn-primary" id="enviar" value="Enviar">Crear Reserva</button>
                <a href="{% url 'inicio' %}"class="btn btn-danger">Volver</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascript %}
{% endblock javascript %}