{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="table-responsive text-nowrap">
            <table class="table">
            <thead class="black white-text">
                <tr>
                    <th>ID</th>
                    <th>Marca</th>
                    <th>Estado</th>
                    <th>Modelo</th>
                    <th>Precio</th>
                    <th>Creada</th>
                    <th>Actualizada</th>
                </tr>
            </thead>
            <tbody class="table table-striped">
                {% for object in object_list %}
                <tr>
                    <td>{{object.pk}}</td>
                    <td><a href="{{object.get_absolute_url}}">{{ object.marca }}</a></td>
                    <td>{{ object.status }}</td>
                    <td>{{ object.modelo }}</td>
                    <td>{{ object.precio }}</td>
                    <td>{{ object.created }}</td>
                    <td>{{ object.last_updated }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            </div>
        </div>
    </div>
</div> 
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
    <a class="btn btn-primary" href="{% url 'core_bike_create' %}">Create new bike</a>
            </div>
            <div class="col-lg-9 col-md-12">
                {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}