{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <form method="post">{% csrf_token %}
                <p>Estas Seguro de Eliminar "{{ object.name }}"?</p>
                <table class"table">
                <th>ID: </th> <td>{{object.id}}</td>
                <th>Nombre: </th> <td>{{object.name}}</td>
                <th>Marca: </th> <td>{{object.marca}}</td>
                <th>Modelo: </th> <td>{{object.modelo}}</td>
                </table>
                <input class="btn btn-danger" type="submit" value="Confirm">
                <a class="btn btn-warning" href="{{object.get_absolute_url}}">Volver</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
