{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
    <p>
        <a class="btn btn-default" href="{% url 'core_bike_list' %}">bike Listing</a>
    </p>
    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    </div>
{% endblock %}
{% block javascript %}
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
    </script>
{% endblock javascript %}