{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'core_bike_list' %}">bike Listing</a></p>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table">
            <tr><th>marca</th><td>{{ object.marca }}</td></tr>
            <tr><th>status</th><td>{{ object.status }}</td></tr>
            <tr><th>modelo</th><td>{{ object.modelo }}</td></tr>
            <tr><th>precio</th><td>{{ object.precio }}</td></tr>
            <tr><th>slug</th><td>{{ object.slug }}</td></tr>
            <tr><th>created</th><td>{{ object.created }}</td></tr>
            <tr><th>last_updated</th><td>{{ object.last_updated }}</td></tr>
            </table>
        </div>
    </div>
</div>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit bike</a>
<a class="btn btn-danger" href="{{object.get_delete_url}}">Delete bike</a>

{% endblock %}