{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'core_cliente_list' %}">cliente Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>name</td>
    <td>apellido</td>
    <td>correo</td>
    <td>telefono</td>
    <td>rut</td>
    <td>slug</td>
    <td>created</td>
    <td>last_updated</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.name }}</td>
    <td>{{ object.apellido }}</td>
    <td>{{ object.correo }}</td>
    <td>{{ object.telefono }}</td>
    <td>{{ object.rut }}</td>
    <td>{{ object.slug }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'core_cliente_create' %}">Create new cliente</a>
{% endblock %}