{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'core_cliente_list' %}">cliente Listing</a></p>
<table class="table">
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>apellido</td><td>{{ object.apellido }}</td></tr>
<tr><td>correo</td><td>{{ object.correo }}</td></tr>
<tr><td>telefono</td><td>{{ object.telefono }}</td></tr>
<tr><td>rut</td><td>{{ object.rut }}</td></tr>
<tr><td>slug</td><td>{{ object.slug }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit cliente</a>

{% endblock %}