{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock css %}
{% block content %}
{% load qr_code %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Transacción Realizada con Exito</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 table-responsive">
            <table class="table table-striped table-sm">
                <p class="h3 text-center">Detalles de la Reserva</p>
                <tr><th>Nombre: </th><td>{{ name }} {{apellido}}</td></tr>
                <tr><th>Numero de Bicicletas: </th><td>{{ n_bikes }}</td></tr>
                <tr><th>Numero de Accesorios: </th><td>{{ n_accesorios }}</td></tr>
            </table>
        </div>
        <div class="col-lg-4">
            {% qr_from_text "{{id}}" size="M" %}
        </div>
    </div>
</div>
{% endblock content %}