{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock css %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Transacción Fallida</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>La Transacción ha fallado, ¡Por favor intenta nuevamente! </h2>
            <a class="btn btn-primary" href="{% url 'inicio' %}">Inicio</a>
        </div>
        
    </div>
    </div>
</div>
{% endblock content %}