{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'core_garantia_list' %}">garantia Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>total</td>
    <td>cobrado</td>
    <td>observacion</td>
    <td>slug</td>
    <td>created</td>
    <td>last_updated</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.total }}</td>
    <td>{{ object.cobrado }}</td>
    <td>{{ object.observacion }}</td>
    <td>{{ object.slug }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'core_garantia_create' %}">Create new garantia</a>
{% endblock %}