{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'core_garantia_list' %}">garantia Listing</a></p>
<table class="table">
<tr><td>total</td><td>{{ object.total }}</td></tr>
<tr><td>cobrado</td><td>{{ object.cobrado }}</td></tr>
<tr><td>observacion</td><td>{{ object.observacion }}</td></tr>
<tr><td>slug</td><td>{{ object.slug }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit garantia</a>

{% endblock %}