{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <form method="post">{% csrf_token %}
                <p>Estas Seguro de Eliminar "{{ object }}"?</p>
                <table class"table">
                <th>ID: </th> <td>{{object.id}}</td>
                <th>Nombre: </th> <td>{{object.horas}}</td>
                <th>Garantia: </th><td>{{ reserva.garantia.total }}</td>
                {% if object.status == 'A' %}
                <tr><th>Estado: </th><td>Activo</td></tr>
                {% else %}
                <tr><th>Estado: </th><td>Inactivo</td></tr>
                {% endif %}
                </table>
                <input class="btn btn-danger" type="submit" value="Confirmar">
                <a class="btn btn-warning" href="{% url 'core_add_reserva' %}">Volver</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
