{% extends 'base.html' %}
{% block css %}
{% endblock css %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-2"> </div>
        <div class="col-lg-8 table-responsive">
            <table class="table table-striped table-sm">
                <p class="h3 text-center">Detalles de la Reserva</p>
                <tr><th>Nombre: </th><td>{{reserva.cliente.full_name}}</td></tr>
                <tr><th>Tiempo: </th><td>{{reserva.tiempo}} Horas</td></tr>
                {% if reserva.status == 'A' %}
                <tr><th>Estado: </th><td>Activo</td></tr>
                {% else %}
                <tr><th>Estado: </th><td>Inactivo</td></tr>
                {% endif %}
                <tr><th>Garantia: </th><td>{{ reserva.garantia.total }}</td></tr>
                {% if reserva.seguro != None %}
                <tr><th>Seguro: </th><td>Si</td></tr>
                {% else %}
                <tr><th>Seguro: </th><td>No</td></tr>
                {% endif %}
                <tr><th>Bicicletas: </th><td>{{ bicis }}</td></tr>
            </table>
            <a class="btn btn-primary" href="{{reserva.get_update_url}}">Editar Reserva</a>
            <a class="btn btn-danger" href="{{reserva.get_delete_url}}">Eliminar Reserva</a>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascript %}
{% endblock javascript %}