{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'core_seguro_list' %}">seguro Listing</a></p>
<table class="table">
<tr><td>nombres</td><td>{{ object.nombres }}</td></tr>
<tr><td>apellidos</td><td>{{ object.apellidos }}</td></tr>
<tr><td>rut</td><td>{{ object.rut }}</td></tr>
<tr><td>direccion</td><td>{{ object.direccion }}</td></tr>
<tr><td>personas</td><td>{{ object.personas }}</td></tr>
<tr><td>tarjeta</td><td>{{ object.tarjeta }}</td></tr>
<tr><td>slug</td><td>{{ object.slug }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit seguro</a>

{% endblock %}