{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'core_seguro_list' %}">seguro Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>nombres</td>
    <td>apellidos</td>
    <td>rut</td>
    <td>direccion</td>
    <td>personas</td>
    <td>tarjeta</td>
    <td>slug</td>
    <td>created</td>
    <td>last_updated</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.nombres }}</td>
    <td>{{ object.apellidos }}</td>
    <td>{{ object.rut }}</td>
    <td>{{ object.direccion }}</td>
    <td>{{ object.personas }}</td>
    <td>{{ object.tarjeta }}</td>
    <td>{{ object.slug }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'core_seguro_create' %}">Create new seguro</a>
{% endblock %}